<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{ url_for('static', filename= 'style.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    <title>Cloud office</title>

    <meta name="description" content="Página web para apartar espacios de trabajo">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">      
    


</head>
<body>
    
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo_texto no-margin centrar-texto">Cloud Office</h1>
                </a>
                <nav class="navegacion">
                    <a class="navegacion_enlace" href="/">Pagina principal</a>
                    <a class="navegacion_enlace" href="recepcion.html">Recepción</a>
                </nav>
            </div>
        </div>

        <div class="header_texto">
            <h2 class="no-margin">Cloud Office</h2>
            <p class="no-margin">Administra a tu gusto</p>
        </div>
    </header>

    <div >
        <fieldset>
            <legend>Introduzca los siguientes datos para agregar un empleado</legend>
            <form action="/agregarEmpleado" method="POST">
                <div class="campo">
                    <label for="IDempleado_agregar">ID del empleado: </label>
                    <input required type="text" id="IDempleado_agregar" name="empleado" placeholder="ID empleado"/>
                </div>

                <div class="campo">
                    <label for="nombreEmpleado_agregar">Nombre del empleado: </label>
                    <input required type="text" id="nombreEmpleado_agregar" name="nombre" placeholder="Nombre empleado">
                </div>

                <div class="campo">
                    <label for="admin_agregar">Permiso del admin 1 (si), 0 (no): </label>
                    <input required type="text" id="admin_agregar" name="admin" placeholder="Permisos admin">
                </div>

                <input class="boton" type="submit" name="enviar" value="Guardar empleado">

            </form> 
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend>Introduzca los siguientes datos para agregar un empleado</legend>
            <form action="/agregarEspacio" method="POST">
                <div class="campo">
                    <label for="capacidad_espacio">Capacidad del espacio: </label>
                    <input required type="text" id="capacidad_espacio" name="capacidad" placeholder="Capacidad del espacio"/>
                </div>

                <div class="campo">
                    <label for="nombre_espacio">Nombre del espacio: </label>
                    <input required type="text" id="nombre_espacio" name="nombre" placeholder="Nombre del espacio">
                </div>

                <div class="campo">
                    <label for="tipo_espacio">Tipo de espacio: </label>
                    <input required type="text" id="tipo_espacio" name="tipo" placeholder="Tipo de espacio">
                </div>

                <input class="boton" type="submit" name="enviar" value="Guardar espacio">

            </form> 
        </fieldset>
    </div>

    <div>
        <h3>Introduzca el empleado a buscar</h3>
        <form action="/buscarEmpleado" method="POST">
            <div class="campo">
                <label for="empleado_buscar">ID del empleado a buscar: </label>
                <input required type="text" id="empleado_buscar" name="empleadoBuscar" placeholder="ID empleado"/>
            </div>

            <input class="boton" type="submit" name="enviar" value="Buscar">

        </form> 
    </div>

    <div class="tablas">
        <table>
            <caption>Historial de empleado</caption>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Espacio</th>
                    <th>ID empleado</th>
                </tr>
            </thead>
            <tbody>
                {% for espacio in espacios%}
                    <tr>
                        <td>{{espacio.0}}</td>
                        <td>{{espacio.1}}</td>
                        <td>{{espacio.2}}</td>
                        <td>{{espacio.3}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <table>
            <caption>Historial General</caption>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Nombre</th>
                    <th>Espacio</th>
                    <th>ID empleado</th>
                </tr>
            </thead>
            <tbody>
                {% for hist in historial %}
                    <tr>
                        <td>{{hist.0}}</td>
                        <td>{{hist.1}}</td>
                        <td>{{hist.2}}</td>
                        <td>{{hist.3}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo_texto no-margin centrar-texto">Cloud Office</h1>
                </a>
                <nav class="navegacion">
                    <a class="navegacion_enlace" href="/">Pagina principal</a>
                    <a class="navegacion_enlace" href="recepcion.html">Recepción</a>
                </nav>
            </div>
        </div>
    </footer>
    
</body>
</html>