<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{ url_for('static', filename='style.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
    <title>Cloud office</title>

    <meta name="description" content="Página web para apartar espacios de trabajo">

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">      
</head>
<body>
    
    <header class="header">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo_texto no-margin centrar-texto">Cloud Office</h1>
                </a>
                <nav class="navegacion">
                    <a class="navegacion_enlace" href="login.html">Iniciar Sesión</a>
                    <a class="navegacion_enlace" href="recepcion.html">Recepción</a>
                </nav>
            </div>
        </div>

        <div class="header_texto">
            <h2 class="no-margin">Cloud Office</h2>
            <p class="no-margin">Aparta tu lugar de trabajo</p>
        </div>
    </header>

    <main>
        <div>
            <fieldset>
                <legend>Introduzca los siguientes datos para aprtar su lugar</legend>
                <form class="formulario">
                   
                    <div class="campo">
                        <label for="ID_empleado">ID del empleado: </label>
                        <input type="text" id="ID_empleado" name="empleado" placeholder="ID empleado"/>
                    </div>
    
                    <div class="campo">
                        <label for="ID_espacio">ID del lugar donde desea trabajar: </label>
                        <input type="text" id="ID_espacio" name="espacio" placeholder="ID espacio">
                    </div>
    
                    <div class="campo">
                        <label for="hora_inicio">Hora de inicio</label>
                        <input type="time" id="hora_inico" name="inicio">
                    </div>
    
                    <div class="campo">
                        <label for="hora_final">Hora de finalizacion</label>
                        <input type="time" id="hora_final" name="final">
                    </div>

                    <div class="campo">
                        <label for="fecha">Fecha</label>
                        <input type="date" name="fecha" id="fecha">
                    </div>

                    <input class="boton" type="submit" name="enviar" value="Enviar peticion">

                </form> 
            </fieldset>
        </div>
    </main>

    <section>
        <h2>Lugares disponibles</h2>

        <table>
            <thead>
                <tr>
                    <td>Fecha</td>
                    <td>Nombre</td>
                    <td>Espacio</td>
                    <td>ID empleado</td>
                </tr>
            </thead>
            <tbody>
                {% for espacio in espacios%}
                    <tr>
                        <td>{{espacio.0}}</td>
                        <td>{{espacio.1}}</td>
                        <td>{{espacio.2}}</td>
                        <td>{{espacio.3}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/">
                    <h1 class="logo_texto no-margin centrar-texto">Cloud Office</h1>
                </a>
                <nav class="navegacion">
                    <a class="navegacion_enlace" href="login.html">Iniciar Sesión</a>
                    <a class="navegacion_enlace" href="recepcion.html">Recepción</a>
                </nav>
            </div>
        </div>
    </footer>

    <script src="../static/app.js"></script>
    
</body>
</html>